*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  margin-bottom: 2rem;
}

input,
select {
  padding: 0.5em;
  border: 1px solid #333;
  background-color: #ffff;
}
select,
button {
  cursor: pointer;
}

.app-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  gap: 2rem;
}

@media screen and (min-width: 900px) {
  .app-container {
    flex-direction: row;
    align-items: stretch;
  }
}
.grade-form {
  width: 100%;
  padding: 1.4rem;
  box-shadow: 0 0 4px 0 #3338;
  max-width: 520px;
}

.results-container {
  width: 100%;
  padding: 1.4rem;
  box-shadow: 0 0 4px 0 #3338;
  max-width: 520px;
}

.form-grid {
  display: grid;
  grid-template-columns: 7rem 1fr;
  gap: 0.8rem;
  margin-top: 2rem;
}

.row {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.btn {
  flex: 1 1 0;
  padding: 0.5em;
  border: 1px solid #111111;
  background-color: #111111;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #3335;
  padding: 0.8em 1.6em;
}

.btn:hover {
  background-color: #fff;
  color: #111111;
}

.gpa-result,
.gpa-title {
  padding: 0.5em;
}
.gpa-title {
  background-color: #f2f2f2;
}
.gpa-result {
  border: 1px solid #333;
}


#coursename, #credits, #grades{
  width:50%;
}